---
title: Smoke Tests Results
layout: home
parent: OpenDSU Contributors
nav_order: 1
---


Test Report [1/22/2024, 2:47:43 AM]
Suits
30
Ran / Total
207/207
Duration
712.577s
Failed
1
Success Rate
99.52%
Failed Tests

(1)
	Name 	No. of cases 	No. of messages 	State 	
	.../modules/opendsu/tests/enclave/CloudEnclaveTest.js 	0 	498 	finished 	
Passed Tests

(206)
	Name 	No. of cases 	No. of messages 	State 	
	...sdk/tests/dsu-object-apis/bar/addFilesBatchTest.js 	1 	104 	finished 	
	...dk/tests/dsu-object-apis/bar/addFolderBatchTest.js 	1 	99 	finished 	
	...ts/dsu-object-apis/bar/addFolderExtractFileTest.js 	1 	108 	finished 	
	...su-sdk/tests/dsu-object-apis/bar/addRawFileTest.js 	1 	91 	finished 	
	...u-sdk/tests/dsu-object-apis/bar/addRawFilesTest.js 	1 	106 	finished 	
	...-sdk/tests/dsu-object-apis/bar/addRawFolderTest.js 	1 	118 	finished 	
	...-sdk/tests/dsu-object-apis/bar/appendToFileTest.js 	1 	115 	finished 	
	...ndsu-sdk/tests/dsu-object-apis/bar/basicBarTest.js 	1 	99 	finished 	
	...u-sdk/tests/dsu-object-apis/bar/cloneFolderTest.js 	1 	151 	finished 	
	...su-sdk/tests/dsu-object-apis/bar/createFileTest.js 	1 	121 	finished 	
	...dk/tests/dsu-object-apis/bar/delayAnchoringTest.js 	1 	74 	finished 	
	...-sdk/tests/dsu-object-apis/bar/deleteBarContent.js 	1 	115 	finished 	
	...sts/dsu-object-apis/bar/conflictsResolutionTest.js 	1 	1008 	finished 	
	...dk/tests/dsu-object-apis/bar/extractFileFromBar.js 	1 	114 	finished 	
	...dsu-sdk/tests/dsu-object-apis/bar/listFilesTest.js 	1 	173 	finished 	
	...u-sdk/tests/dsu-object-apis/bar/listFoldersTest.js 	1 	153 	finished 	
	...ests/dsu-object-apis/bar/readFileFromStreamTest.js 	1 	127 	finished 	
	...ests/dsu-object-apis/bar/removeFilesFromBarTest.js 	1 	96 	finished 	
	...su-sdk/tests/dsu-object-apis/bar/renameFileTest.js 	1 	156 	finished 	
	...-sdk/tests/dsu-object-apis/bar/renameFolderTest.js 	1 	134 	finished 	
	...sts/dsu-object-apis/bar/writeFileFromBufferTest.js 	1 	128 	finished 	
	...sts/dsu-object-apis/bar/writeFileFromStreamTest.js 	1 	116 	finished 	
	.../opendsu-sdk/tests/dsu-object-apis/breakingTest.js 	1 	238 	finished 	
	...dk/tests/dsu-object-apis/complexWalletGenerator.js 	1 	158 	finished 	
	...su-object-apis/deleteFileFromMountedDossierTest.js 	1 	203 	finished 	
	...k/tests/dsu-object-apis/listFilesAndFoldersTest.js 	1 	87 	finished 	
	...tests/dsu-object-apis/mount/listFilesMountPoint.js 	1 	148 	finished 	
	...s/dsu-object-apis/mount/listMountedDossiersTest.js 	1 	141 	finished 	
	...ect-apis/mount/loadingDossierThatRefsAnotherOne.js 	1 	175 	finished 	
	...ount/mountDossierInsideFolderFromMountedDossier.js 	1 	133 	finished 	
	...t-apis/mount/mountDossiersInsideMountedDossiers.js 	1 	214 	finished 	
	...bject-apis/mount/tryingToMountInANonEmptyFolder.js 	1 	132 	finished 	
	...ount/tryingToMountOnAnExistingMountingPointPath.js 	1 	128 	finished 	
	...mount/tryingToWriteInAReadonlyMountedRawDossier.js 	1 	157 	finished 	
	...bject-apis/rawDossierRenameFileInMountedDossier.js 	1 	227 	finished 	
	.../tests/dsu-object-apis/rawDossierRenameFileTest.js 	1 	140 	finished 	
	...sdk/tests/dsu-object-apis/rawDossierRestoreTest.js 	1 	143 	finished 	
	...u-sdk/tests/dsu-object-apis/readSeedBeforeWrite.js 	1 	109 	finished 	
	...k/tests/dsu-object-apis/readFileFromDossierTest.js 	1 	182 	finished 	
	.../dsu-object-apis/resolvingConflictsWhenMounting.js 	1 	184 	finished 	
	...endsu-sdk/tests/dsu-object-apis/walletGenerator.js 	1 	154 	finished 	
	...tests/dsu-object-apis/writeFileToMountedDossier.js 	1 	232 	finished 	
	.../opendsu-sdk/tests/open-dsu/anchoring/fileExist.js 	1 	3 	finished 	
	.../tests/open-dsu/anchoring/getAllVersionsApiTest.js 	1 	106 	finished 	
	...dk/opendsu-sdk/tests/open-dsu/bricking/bricking.js 	1 	75 	finished 	
	/home/runner/work/opendsu-sdk/opendsu-sdk/tests/open-dsu/http/httpClient.js 	1 	86 	finished 	
	...dk/tests/open-dsu/resolver/createAndLoadDSUTest.js 	1 	126 	finished 	
	...sdk/tests/open-dsu/resolver/loadDSUWithSReadSSI.js 	1 	125 	finished 	
	.../open-dsu/resolver/recoveryModeTestForAConstDSU.js 	1 	130 	finished 	
	.../resolver/recoveryModeTestForADSUWithOneVersion.js 	1 	153 	finished 	
	...-sdk/tests/open-dsu/resolver/simpleConstDSUTest.js 	1 	105 	finished 	
	...sdk/tests/open-dsu/resolver/testMissingBrickMap.js 	1 	138 	finished 	
	...ests/anchoring/anchoringTheSameConstSSITwoTimes.js 	1 	88 	finished 	
	...pendsu/tests/anchoring/appendAnchor.apihub.test.js 	0 	0 	finished 	
	...k/modules/opendsu/tests/anchoring/AnchoringTest.js 	1 	145 	finished 	
	...dsu/tests/anchoring/cza.shouldCreateAnchor.test.js 	1 	3 	finished 	
	.../cza.shouldCreateAnchorAndReadVersionsBack.test.js 	1 	3 	finished 	
	...sts/anchoring/cza.shouldFailToAppendAnchor.test.js 	1 	3 	finished 	
	...oGetAllVersionsFromInconsistentPersistence.test.js 	1 	3 	finished 	
	....shouldGetNullVersionForNonExistingAnchors.test.js 	1 	3 	finished 	
	...BeAbleToAppendTheSameHashlinkMultipleTimes.test.js 	1 	3 	finished 	
	...shouldNotBeAbleToAppendToNonExistingAnchor.test.js 	1 	3 	finished 	
	...otBeAbleToCreateTheSameAnchorMultipleTimes.test.js 	1 	3 	finished 	
	...opendsu/tests/anchoring/shouldAppendAnchor.test.js 	1 	3 	finished 	
	...-sdk/modules/opendsu/tests/anchoring/fsxAPITest.js 	1 	87 	finished 	
	.../anchoring/shouldAppendAnchorMultipleTimes.test.js 	1 	3 	finished 	
	...opendsu/tests/anchoring/shouldCreateAnchor.test.js 	1 	3 	finished 	
	...g/shouldCreateAnchorAndReadLastVersionBack.test.js 	1 	3 	finished 	
	...oring/shouldCreateAnchorAndReadVersionBack.test.js 	1 	3 	finished 	
	.../opendsu-sdk/modules/opendsu/tests/bdns/setBdns.js 	1 	82 	finished 	
	...ntials/jwt/createAndLoadEncryptedCredential_DID.js 	1 	292 	finished 	
	...edentials/jwt/createVerifyJWTAndEmbedClaims_DID.js 	1 	275 	finished 	
	...edentials/jwt/createVerifyJWTAndEmbedClaims_SSI.js 	1 	3 	finished 	
	...u/tests/credentials/jwt/testCreateJWTErrors_DID.js 	1 	174 	finished 	
	...sts/credentials/jwt/testJWTEmbedClaimErrors_DID.js 	1 	175 	finished 	
	...entials/jwt/testJWTValidationStrategyErrors_DID.js 	1 	201 	finished 	
	...u/tests/credentials/jwt/testVerifyJWTErrors_DID.js 	1 	203 	finished 	
	.../tests/crypto/convertKeySSIToRecoveryPhraseTest.js 	1 	4 	finished 	
	...les/opendsu/tests/crypto/createAndVerifyJwtTest.js 	9 	4 	finished 	
	...opendsu/tests/crypto/ecies_encrypt_decrypt_test.js 	1 	3 	finished 	
	...endsu/tests/crypto/createAndVerifyJwtForDIDTest.js 	10 	985 	finished 	
	...s/opendsu/tests/crypto/encryptionDecryptionTest.js 	1 	4 	finished 	
	...k/modules/opendsu/tests/db/basic/InMemoryDBTest.js 	1 	63 	finished 	
	.../modules/opendsu/tests/crypto/signAndVerifyTest.js 	1 	3 	finished 	
	...u-sdk/modules/opendsu/tests/db/basic/UpdateTest.js 	1 	126 	finished 	
	...sdk/modules/opendsu/tests/db/basic/WalletDBTest.js 	1 	161 	finished 	
	...su/tests/db/basic/OneQueryMoreThanOneResultTest.js 	1 	115 	finished 	
	...u-sdk/modules/opendsu/tests/db/basic/filterTest.js 	1 	238 	finished 	
	...modules/opendsu/tests/db/basic/deleteRecordTest.js 	1 	114 	finished 	
	...les/opendsu/tests/db/basic/getIndexedFieldsTest.js 	1 	167 	finished 	
	...modules/opendsu/tests/db/basic/readWriteKeyTest.js 	1 	248 	finished 	
	...es/opendsu/tests/db/basic/updatingIndexedFields.js 	1 	170 	finished 	
	...endsu-sdk/modules/opendsu/tests/dt/buildDSUTest.js 	1 	507 	finished 	
	...odules/opendsu/tests/db/basic/getAllRecordsTest.js 	1 	92 	finished 	
	...tests/enclave/CloudEnclaveTest_commandsMatching.js 	1 	557 	finished 	
	.../opendsu/tests/enclave/LightDBAccessControlTest.js 	1 	141 	finished 	
	...opendsu/tests/enclave/VersionlessDSUEnclaveTest.js 	1 	135 	finished 	
	...u-sdk/modules/opendsu/tests/enclave/LightDBTest.js 	1 	99 	finished 	
	...endsu/tests/enclave/WaletDBEnclaveInitFailsTest.js 	1 	85 	finished 	
	...odules/opendsu/tests/enclave/WaletDBEnclaveTest.js 	1 	138 	finished 	
	...pendsu/tests/enclave/WalletDBEnclaveHandlerTest.js 	1 	853 	finished 	
	.../convertWalletDBEnclaveToVersionlessEnclaveTest.js 	1 	173 	finished 	
	...nclave/convertWalletDBEnclaveToCloudEnclaveTest.js 	1 	443 	finished 	
	...su-sdk/modules/opendsu/tests/enclave/lambdaTest.js 	1 	196 	finished 	
	...pendsu/tests/enclave/mixin-tests/DecryptAESTest.js 	1 	154 	finished 	
	...pendsu/tests/enclave/mixin-tests/EncryptAESTest.js 	1 	136 	finished 	
	...endsu/tests/enclave/mixin-tests/GenerateDIDTest.js 	1 	154 	finished 	
	...tests/enclave/mixin-tests/GenerateSecretKeyTest.js 	1 	176 	finished 	
	.../tests/enclave/mixin-tests/StorePrivateKeysTest.js 	1 	154 	finished 	
	...u/tests/enclave/mixin-tests/StoreSecretKeysTest.js 	1 	152 	finished 	
	...endsu/tests/error/RegisterMandatoryCallbackTest.js 	1 	3 	finished 	
	...sts/error/RegisterMandatoryCallbackNegativeTest.js 	1 	4 	finished 	
	...dules/opendsu/tests/error/ReportDevRelevantInfo.js 	1 	3 	finished 	
	...opendsu/tests/error/ReportUserRelevantErrorTest.js 	1 	5 	finished 	
	.../opendsu/tests/error/ReportUserRelevantInfoTest.js 	1 	3 	finished 	
	...endsu/tests/error/ReportUserRelevantWarningTest.js 	1 	3 	finished 	
	...dk/modules/opendsu/tests/error/SafeCallbackTest.js 	1 	3 	finished 	
	...dk/modules/opendsu/tests/http/doGetNegativeTest.js 	1 	97 	finished 	
	...pendsu-sdk/modules/opendsu/tests/http/doPutTest.js 	1 	70 	finished 	
	...u-sdk/modules/opendsu/tests/keyssi/AliasSSITest.js 	1 	5 	finished 	
	...u-sdk/modules/opendsu/tests/keyssi/ArraySSITest.js 	2 	4 	finished 	
	...u-sdk/modules/opendsu/tests/keyssi/BuildSSITest.js 	1 	3 	finished 	
	...-sdk/modules/opendsu/tests/keyssi/DeriveSSITest.js 	1 	3 	finished 	
	...dk/modules/opendsu/tests/keyssi/HashLinkSSITest.js 	1 	3 	finished 	
	...k/modules/opendsu/tests/keyssi/OwnershipSSITest.js 	1 	3 	finished 	
	.../modules/opendsu/tests/keyssi/SignAndVerifyTest.js 	1 	4 	finished 	
	...endsu/tests/keyssi/SymmetricalEncryptionSSITest.js 	1 	4 	finished 	
	...-sdk/modules/opendsu/tests/keyssi/WalletSSITest.js 	1 	4 	finished 	
	...u-sdk/modules/opendsu/tests/lock/simpleLockTest.js 	1 	88 	finished 	
	...dk/modules/opendsu/tests/m2dsu/basicMappingTest.js 	1 	156 	finished 	
	...les/opendsu/tests/persistence/WalletStorageTest.js 	1 	78 	finished 	
	.../modules/opendsu/tests/resolver/basic/CreateDSU.js 	1 	105 	finished 	
	.../CreateDSUWillFailOnPartialSupportedDomain.test.js 	1 	89 	finished 	
	...u/tests/resolver/basic/CreateDSUWithExistingSSI.js 	1 	108 	finished 	
	...dules/opendsu/tests/keyssi/PathKeySSIStressTest.js 	1 	5235 	finished 	
	...pendsu/tests/resolver/basic/DSUFolderIssuesTest.js 	1 	122 	finished 	
	...esolver/basic/DSUMountedWithSReadSSIIsCachedBug.js 	1 	151 	finished 	
	...sts/resolver/basic/DSUWillFailOnUndefinedDomain.js 	1 	71 	finished 	
	...su/tests/resolver/basic/TestEpiMessageWrongHint.js 	1 	100 	finished 	
	...dsu/tests/resolver/basic/TryingToAlterBrickTest.js 	1 	103 	finished 	
	...resolver/basic/TryingToCreateAnExistingConstDSU.js 	1 	101 	finished 	
	.../resolver/basic/TryingToCreateAnExistingSeedDSU.js 	1 	97 	finished 	
	.../basic/TryingToInjectAnOldVersionOfBrickMapTest.js 	1 	132 	finished 	
	...esolver/basic/TryingToSwapBricksBetweenDSUsTest.js 	1 	133 	finished 	
	...les/opendsu/tests/resolver/basic/createConstDSU.js 	1 	114 	finished 	
	...ules/opendsu/tests/resolver/basic/legacyDSUTest.js 	1 	173 	finished 	
	.../tests/resolver/basic/loadDSUInRecoveryModeTest.js 	1 	161 	finished 	
	...opendsu/tests/resolver/basic/loadDSUVersionTest.js 	1 	152 	finished 	
	...odules/opendsu/tests/resolver/basic/mixedDomain.js 	1 	72 	finished 	
	...pendsu/tests/resolver/basic/testDSUStatFunction.js 	1 	95 	finished 	
	.../opendsu/tests/resolver/basic/testOpenDSUExists.js 	1 	93 	finished 	
	...lver/basic/tryingToLoadDSUWithCorruptedBrickMap.js 	1 	118 	finished 	
	...ndsu/tests/resolver/basic/writeEmbeddedFileTest.js 	1 	105 	finished 	
	...resolver/basic/writingDSUWithSReadSSIShouldFail.js 	1 	100 	finished 	
	...solver/handler/CreateHandlerForAppendToFileTest.js 	1 	161 	finished 	
	...solver/handler/CreateHandlerForCreateFolderTest.js 	1 	150 	finished 	
	.../resolver/handler/CreateHandlerForListFilesTest.js 	1 	108 	finished 	
	...dules/opendsu/tests/resolver/cache/dsuCacheTest.js 	1 	761 	finished 	
	...esolver/handler/CreateHandlerForListFoldersTest.js 	1 	92 	finished 	
	...ver/handler/CreateHandlerForListMountedDSUsTest.js 	1 	114 	finished 	
	...ts/resolver/handler/CreateHandlerForReadDirTest.js 	1 	114 	finished 	
	...s/resolver/handler/CreateHandlerForReadFileTest.js 	1 	113 	finished 	
	...sts/resolver/handler/CreateHandlerForRenameTest.js 	1 	192 	finished 	
	.../resolver/handler/CreateHandlerForWriteFileTest.js 	1 	123 	finished 	
	...esolver/handler/CreateHandlerWithBootConfigTest.js 	1 	261 	finished 	
	...ndsu/tests/resolver/legacyDSU/hasNewVersionTest.js 	1 	136 	finished 	
	...opendsu/tests/resolver/legacyDSU/mountBasicTest.js 	1 	136 	finished 	
	...ts/resolver/legacyDSU/parallelWriteInMountedDSU.js 	1 	185 	finished 	
	...es/opendsu/tests/resolver/legacyDSU/refreshTest.js 	1 	160 	finished 	
	...olver/versionlessdsu/VersionlessDSUTest_encrypt.js 	1 	438 	finished 	
	...resolver/versionlessdsu/VersionlessDSU_DIR_test.js 	1 	4941 	finished 	
	...ver/versionlessdsu/VersionlessDSU_add_file_test.js 	1 	4741 	finished 	
	...er/versionlessdsu/VersionlessDSU_add_files_test.js 	1 	4460 	finished 	
	...olver/versionlessdsu/VersionlessDSU_add_folders.js 	1 	5802 	finished 	
	...rsionlessdsu/VersionlessDSU_delete_folders_test.js 	1 	5912 	finished 	
	...versionlessdsu/VersionlessDSU_extract_file_test.js 	1 	365 	finished 	
	...r/versionlessdsu/VersionlessDSU_extract_folders.js 	1 	563 	finished 	
	...versionlessdsu/VersionlessDSU_clone_folder_test.js 	1 	25498 	finished 	
	...solver/versionlessdsu/VersionlessDSU_mount_test.js 	1 	1014 	finished 	
	...ssdsu/VersionlessDSU_mount_unmount_folders_test.js 	1 	2120 	finished 	
	...er/versionlessdsu/VersionlessDSU_rename_folders.js 	1 	2686 	finished 	
	...esolver/versionlessdsu/VersionlessDSU_stat_test.js 	1 	1727 	finished 	
	...odules/opendsu/tests/sc/deleteSharedEnclaveTest.js 	1 	129 	finished 	
	...s/resolver/versionlessdsu/failingCommonScenario.js 	1 	467 	finished 	
	...opendsu/tests/sc/encryptSharedEnclaveKeySSITest.js 	1 	137 	finished 	
	...modules/opendsu/tests/sc/getCapableOfSigningSSI.js 	1 	89 	finished 	
	.../opendsu/tests/sc/initialiseSecurityContextTest.js 	1 	69 	finished 	
	...odules/opendsu/tests/sc/setSharedEnclavePINTest.js 	1 	173 	finished 	
	...modules/opendsu/tests/utils/FunctionPendingCall.js 	1 	3 	finished 	
	...k/modules/opendsu/tests/utils/promiseRunnerTest.js 	9 	38 	finished 	
	...dules/opendsu/tests/w3cdid/communicationHubTest.js 	1 	220 	finished 	
	...endsu/tests/w3cdid/encrypt_decrypt_message_test.js 	1 	172 	finished 	
	...k/modules/opendsu/tests/w3cdid/key_DID_SSI_test.js 	1 	78 	finished 	
	...ndsu/tests/w3cdid/nameDIDCreationAndResolveTest.js 	1 	232 	finished 	
	...-sdk/modules/opendsu/tests/w3cdid/name_did_test.js 	1 	141 	finished 	
	...ules/opendsu/tests/w3cdid/ordered_messages_test.js 	1 	215 	finished 	
	.../w3cdid/send_and_receive_encrypted_message_test.js 	1 	185 	finished 	
	...sdk/modules/opendsu/tests/w3cdid/sread_did_test.js 	1 	122 	finished 	
	...k/modules/opendsu/tests/w3cdid/ssi_key_did_test.js 	1 	78 	finished 	
	...s/opendsu/tests/w3cdid/w3cDIDGroupRemoveMembers.js 	1 	342 	finished 	
	...dk/modules/opendsu/tests/utils/pendingCallsTest.js 	1 	7 	finished 	
	...dk/modules/opendsu/tests/w3cdid/w3cDIDGroupTest.js 	1 	399 	finished 	
	...u-sdk/modules/opendsu/tests/w3cdid/w3cDIDMQTest.js 	1 	92 	finished 	
	...sdk/modules/opendsu/tests/w3cdid/w3cDIDSignTest.js 	1 	77 	finished 	
	...u-sdk/modules/opendsu/tests/workers/WorkersTest.js 	2 	10 	finished 	
	...k/modules/opendsu/tests/w3cdid/w3c_Key_DID_test.js 	1 	80 	finished 	